include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/tracking *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/tracking/migration *.ini *.py *.mako
