{% extends "dashboard/base.html" %}

{% block primary_content %}
  <article class="module">

    <section id="stats-largest-groups" class="module-content tab-content active">
      <h2>{{ _('Largest Organizations') }}</h2>
      {% if largest_organizations %}
        <table class="table table-chunky table-bordered table-striped">
          <thead>
            <tr>
              <th>{{ _('Organization') }}</th>
              <th class="metric">{{ _('Number of datasets') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in largest_organizations %}
              <tr>
                <td>
                  <a href="{{ h.url_for(row.type ~ '.read', id=row.name) }}">
                    {{ row.title or row.name }}
                  </a>
                </td>
                <td class="metric">{{ row.total }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="empty">{{ _('No organizations') }}</p>
      {% endif %}
    </section>

  </article>
{% endblock %}
