{% extends "dashboard/base.html" %}

{% block primary_content %}
  <article class="module">

    <section id="stats-most-create" class="module-content tab-content active">
      <h2>{{ _('Users Creating Most Datasets') }}</h2>
      <table class="table table-chunky table-bordered table-striped">
        <thead>
          <tr>
            <th>{{ _('User') }}</th>
            <th class="metric">{{ _('Number of Datasets') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in top_dataset_creators %}
            <tr>
              <td class="media">{{ h.linked_user(row.user_name) }}</td>
              <td class="metric">{{ row.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

  </article>
{% endblock %}
