{% extends "dashboard/base.html" %}

{% block primary_content %}
  <article class="module">

    <section id="stats-most-create" class="module-content tab-content active">
      <h2>{{ _('Users active by day') }}</h2>
      <p>
        <a class="btn btn-primary" href="{{ links.download_csv }}">{{ _('Download as CSV') }}</a>
        <a class="btn btn-primary" href="{{ links.view_json }}" target="_blank">{{ _('View API') }}</a>
      </p>
      <table class="table table-chunky table-bordered table-striped">
        <thead>
          <tr>
            <th>{{ _('Day') }}</th>
            <th class="metric">{{ _('Users') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for data in users_active %}
            <tr>
              <td class="media">{{ data.day }}</td>
              <td class="metric">{{ data.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

  </article>
{% endblock %}
